header nav a {
    margin-right: 20px;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 8px 10px;
    width: auto;
}

select {
    width: 200px;
    margin-bottom: 30px;
}